{% extends 'base.html' %}


{% block content %}
<h1>Вітаємо {{ user.username }}!</h1>

<div>
    Ваш баланс: {{ user.balance }}
    <a class="btn btn-color-olx" href="/balance" role="button">Поповнити баланс</a>
</div>
<h2 style="margin-top: 50px">Ваші замовлення</h2>

{% for product in products %}
    <div class="container" style="border: 2px solid black; margin-top: 40px;">
        <div class="row">
            <div class="col-md-2">
                <!-- Зображення продукту (фото place holder) -->
                <img src="https://via.placeholder.com/150" alt="Фото продукту" class="img-fluid">

            </div>
            <div class="col-md-10">
                <div style="margin-top: 4px; text-color: #042A31;">
                    <p class="float-right"><b>{{ product.price }} грн</b></p>
                </div>

                <!-- Назва продукту -->
                <div style="margin: 4% 0% 1% 0%;">
                    <h2><a href="/product/{{ product.id }}" style="text-decoration: none;"><b style="color: #042A31;">{{ product.title }}</b></a></h2>
                </div>
                <div style="margin-top: 4px; text-color: #042A31;">
                    <a class="btn btn-color-olx float-right danger" href="/balance" role="button" style="border:1px solid black;">Відхилити</a>
                    <a class="btn btn-color-olx float-right success" href="/balance" role="button" style="border:1px solid black;">Підтвердити</a>
                </div>

                <!-- Опис продукту -->
                <div style="margin-bottom: 4%">
                    <p>{{ product.author }} - {{ product.published_date|date:"j F, Y f"  }}</p>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

{% endblock %}